<div class="row">
  <div class="col-12 text-center my-3">
    <h1>About Me</h1>
  </div>
  <div class="col-12 col-md-6 col-lg-6 my-2 px-5">
    <h3>Get to know me!</h3>
    <br>
    <p>Amazed with how technology solves problems, I took the leap of faith and left my civil servant job to pursue Web Development in early 2022.</p>
    <p>Completed Le Wagon Web Dev boot camp in Singapore, 5 Dec 22. Combined with management experiences, looking to pursue Full Stack Development or Product Management opportunities.</p>
    <br>
    <%= link_to "Resume", "#", class: "btn btn-dark" %>
  </div>

  <div class="col-12 col-md-6 col-lg-6 my-2 px-5">
    <h3>Tech Stack</h3>
    <br>
    <div class="skills">
      <div class="skill_skills">HTML</div>
      <div class="skill_skills">CSS</div>
      <div class="skill_skills">Javascript</div>
      <div class="skill_skills">Ruby</div>
      <div class="skill_skills">Rails</div>
      <div class="skill_skills">Bootstrap</div>
      <div class="skill_skills">SASS</div>
      <div class="skill_skills">Heroku</div>
      <div class="skill_skills">MySQL</div>
      <div class="skill_skills">Webpack</div>
      <div class="skill_skills">AJAX</div>
      <div class="skill_skills">Stimulus</div>
      <div class="skill_skills">Figma</div>
      <div class="skill_skills">Sketch</div>
      <div class="skill_skills">Trello</div>
    </div>
  </div>
</div>
