<div class="container d-flex justify-content-center vh-100">
  <div class="row align-items-center my-5">
    <div class="col-12">
      <h1 class= "text-center">EXPERIENCES</h1>
      <h3>Naval Officer, Singapore Armed Forces</h3>
      <h5>Jan 13 - Mar 22</h5>
      <ul>
        <li>blah</li>
        <li>blah</li>
        <li>blah</li>
        <li>blah</li>
      </ul>
    </div>
  </div>
</div>
