<div class="row align-items-center vh-100">
  <div class="col-12 col-lg-6 my-3">
    <h4>Hi, my name is </h4>
    <h1>Lester Wee</h1>
    <p>Curious and amazed with how technology solves problems, I took the leap of faith and left my civil servant job to pursue Web Development early 2022.</p>
    <p>Completed Le Wagon Web Dev boot camp in Singapore, 5 Dec 22. Combined with management experiences, looking to pursue Full Stack Development or Product Management opportunities.</p>
  </div>
  <div class="col-12 col-lg-6 my-3">
    <img src="assets/lester_photo" alt="Profile Picture" class="img-fluid img-thumbnail">
  </div>
</div>
