  <div class="row gx-5 section">
    <div class="col-12 col-md-6 col-lg-6 my-2 p-5">
    </div>

    <div class="col-12 col-md-6 col-lg-6 my-2 p-5">
      <h1>Le-FMS</h1>
      <p>An enterprise web app that helps franchise owners to on board new franchisees.</p>
      <br>
      <%= link_to "See More", "#", class: "btn btn-dark" %>
    </div>
  </div>
