<div class="container d-flex justify-content-center vh-100">
  <div class="row align-items-center my-5">
    <div class="col-12 text-center mb-3">
      <h1>TECH STACK</h1>
    </div>
    <div class="col-12 col-lg-4 text-center mb-3">
      <h2 class="p-3">Frontend</h2>
      <div class="">
        <img src="assets/HTML5.png" alt="">
        <img src="assets/CSS3.png" alt="">
        <img src="assets/Javascript.png" alt="">
        <img src="assets/SASS.png" alt="">
        <br>
        <img src="assets/Bootstrap.png" alt="">
        <img src="assets/React.png" alt="">
        <img src="assets/Redux.png" alt="">
      </div>
    </div>
    <div class="col-12 col-lg-4 text-center mb-3">
      <h2 class="p-3">Backend</h2>
      <img src="assets/ruby.png" alt="">
      <img src="assets/Rails.png" alt="">
      <img src="assets/mysql.png" alt="">
      <img src="assets/Heroku.png" alt="">
    </div>
    <div class="col-12 col-lg-4 text-center mb-3">
      <h2 class="p-3">Others</h2>
      <img src="assets/Figma.png" alt="">
      <img src="assets/Sketch.png" alt="">
      <img src="assets/Trello.png" alt="">
    </div>
    <div class="col-12 text-center">
      <%= link_to "See Projects", "#", class: "btn btn-dark p-3" %>
    </div>
  </div>
</div>
