// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "divider";
@import "skills";

.section_intro{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  height: auto;
}
